.heading-label {
    font-size: $font-size-h4;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: -10px;
}

// Note: the .color-primary, .color-secondary, and .color-tertiary classes are used by
// the Color service in the Angular app to set colors for charts based on year.
.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-tertiary {
    color: $color-tertiary;
}

body {
    font-size: $font-size-h4;
    line-height: $line-height;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    text-rendering: geometricPrecision;
    font-weight: $body-font-weight;
}

h1 {
    margin: 20px 0 10px;
}

