.heading-label {
    font-size: $font-size-h5;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: -10px;
}

.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-tertiary {
    color: $color-tertiary;
}

body {
    font-size: $font-size-h4;
}

h1 {
    margin: -20px 0 30px;
}
