$color-primary: #48B1EF;
$color-secondary: #FFAD00;
$color-tertiary: #4D096A;
$color-about-background: #000;
$color-numbers-background: #FFF;

$headings-font-weight:    800;
$font-family-sans-serif: colfax, helvetica, arial, sans-serif;


$padding-vertical: 2rem;

$font-size-h1: 6rem;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2rem;
$font-size-h5: 1.3rem;
$font-size-base: 14px;
