$color-primary: #48B1EF;
$color-secondary: #FD6C24;
$color-tertiary: #E0354F;
$color-about-background: #000;
$color-numbers-background: #F2F2F2;

$headings-font-weight:    800;
$font-family-sans-serif: colfax, helvetica, arial, sans-serif;


$padding-vertical: 4rem;

$font-size-h1: 6rem;
$font-size-h2: 2.8rem;
$font-size-h3: 2.1rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.3rem;
$font-size-base: 14px;
