cc-city-switcher {
    a {
        cursor: pointer;
    }
}

.city-switcher-modal {

    .modal-header {
        .typeahead {
            margin-top: 10px;
        }
    }

    .modal-body {
    	max-height: 76vh;
    	overflow-y: scroll;
    }

}
