.city-map {

  width: 100%;
  height: 400px;

  svg {
    width: 100%;
    height: 400px;
    background-color: #F2F4F6;
  }

  .graticule {
    fill: none;
    // stroke: rgb(120, 130, 144);
  }

  .land {
      fill: #D1D5DA;
      stroke: rgba(0, 29, 71, 0.2);
      stroke-width: 0.5;
  }

  .feelslike {
    stroke: #000;
    stroke-width: 2;
    stroke-dasharray: 5;
    stroke-linecap: round;
    fill: #000;
  }

  .feelslike-dot {
    fill: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  .boundary {
    fill-opacity: 0;
    stroke: rgba(0, 29, 71, 0.2);
    stroke-width: 0.5;
  }

  .symbol {
    fill: #B3B3B3;
    stroke: #B3B3B3;

    &:hover {
      stroke: #000;
    }
  }

  .legend circle {
    fill: none;
    stroke: #ccc;
  }

  .legend text {
    fill: #777;
    font: 8px sans-serif;
    text-anchor: middle;
  }

  .text-box {
    fill: red;

    text {
      font-size: 16px;
      font-family: inherit;
      font-weight: 800 !important;
      fill: #333;
    }
  }

  .feelslike-line {
    stroke: #444;
    stroke-width: 1px;
    fill: none;
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px 14px;
  background: $color-about-background;
  color: #fff;
  border-radius: 3px;
  font-size: $font-size-h5;
  font-weight: 100;
  line-height: 1.6;
  border-radius: 0;
  font-weight: 400;
  background-color: #444;
  padding: 10px 14px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.map-tip-header {

}

.map-tip-body {

}

tweet-button {
  position: relative;
  top: 15px;
}

footer {
  padding: 4rem 0;
  background-color: #000;
  text-align: center;
  img {
    max-width: 140px;
  }
}
