cc-city-switcher {
    a {
        cursor: pointer;
    }
}

.city-switcher-modal {

    .modal-header {
        .typeahead {
            margin-top: 10px;
        }

        .modal-region-header {
            display: block;
        }

        .modal-region-title {
            display: inline-block;
            font-weight: 800;
        }
    }

    .modal-body {
    	max-height: 76vh;
    	overflow: auto;

        h4 {
            font-size: 1.6rem;
            font-weight: 800;
        }
    }
}
