.modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0;
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    a {
        cursor: pointer;
    }
}

.modal-dialog {
    width: 1000px;
    max-width: 90%;
}

.modal {
    .col-sm-3 {
        font-size: $font-size-h5;
    }
}
