<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="csmc.$dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Switch Cities</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4" ng-repeat="(continent, group) in csmc.cities">
            <h3>{{ ::continent }}</h3>
            <ul>
                <li ng-repeat="c in group track by c.properties.cartodb_id">
                    <a ng-click="csmc.onCityClicked(c)">{{ ::c.properties.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>