#introduction {
    text-align: center;

    h2,h3,h4 {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        color: #3D414A;
    }

    h3,h4 {
        color: #8D8F94;
    }

    cc-city-switcher a {
        color: $color-primary;
    }
}

@media (min-width: $screen-sm-min) {
    .ding:not(:last-child):after {
        content: url(../assets/images/triangle-outline.svg);
        width: 15px;
        height: 13px;
        position: absolute;
        right: -10px;
        top: 70px;
    }
}
