#numbers {
    background-color: $color-numbers-background;
    padding: 0;

    .chart-large {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 750px;
        min-height: 300px;
        display: block;

        canvas, svg {
            min-width: 750px;
            height: 300px;
        }

        .legend-side {
            display: inline-block;

            svg {
                width: 100px;
            }

            text {
                font-size: 12px;
                fill: #666;
            }

            rect {
                fill: $color-primary;
            }
        }
    }

    .chart-small {
        margin: 3rem 0 5rem;
        div {
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }

    .x path, .axis line {
        fill: none;
        stroke: black;
        stroke-width: 2px;
        opacity: 0.7;
    }

    .y path {
        opacity: 0;
    }

    .tick text {
        font-size: 12px;
        fill: #666;
    }

    .y > .tick line {
        opacity: .08;
        stroke-width: 1px;
    }

    .y > .tick text {
        opacity: 1;
        transform: translate(4px, -10px) !important;
        text-anchor: start !important;
    }

    .x > .tick line {
        opacity: 0;
    }

    .legend-item {
        line-height: 18px;
        display: inline-block;
        margin: 0 1rem;

        .legend-box {
            display: inline-block;
            vertical-align: middle;
            height: 12px;
            width: 12px;
            margin-right: 4px;
            margin-bottom: 2px;
        }
    }
}

.container-lines {
    margin-top: 20px;
    @media (min-width: $screen-sm-min) {
        border-top: 1px solid #c2c2c2;
    }
}

.col-lines {
    padding-top: 20px;
    padding-bottom: 5rem;
}

.col-lines:not(:last-child) {
    @media (min-width: $screen-sm-min) {
        border-right: 1px solid #c2c2c2;
    }
}

#yearly-indicator-title {

    .yearly-indicator-label {
        display: inline-block;

        .glyphicon {
            display: inline-block;
            font-size: $font-size-h5;
        }

        .glyphicon:hover .infotip {
            opacity: 1;
        }

        .infotip.container {
            opacity: 0;
            position: absolute;
            left: -13.2rem;
            top: -11.25rem;
            height: auto;
            max-width: 25rem;
            background-color: $color-about-background;
            z-index: 4000;
            &:hover {
                cursor: pointer;
            }

            .text {
                margin: 0;
                max-width: 100%;
                color: white;
                text-align: left;
                font-family: $font-family-sans-serif;
                border-radius: 3px;
                font-size: $font-size-h5;
                font-weight: $body-font-weight;
                line-height: 1.6;
                border-radius: 0;
                font-weight: 400;
                padding: 10px 0;
            }
            &:after {
              box-sizing: border-box;
              display: inline;
              font-size: 10px;
              width: 100%;
              line-height: 1;
              color: rgba(0, 0, 0, 0.8);
              content: "\25BC";
              margin-top: -2px;
              position: absolute;
              text-align: center;
            }

        }
    }
}

.x.axis.top {
  display: none;
}

.chart-heading {
    margin: 3rem 0;
    font-weight: 800;
}

.chart-label {
    font-size: $font-size-h5;
    color: #666;
}
