#numbers {
    background-color: $color-numbers-background;
    padding-bottom: 0;

    .chart-large {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 750px;
        height: 300px;
        display: block;
    }

    .legend-item {
        line-height: 18px;
        display: inline-block;
        margin: 0 1rem;

        .legend-box {
            display: inline-block;
            vertical-align: middle;
            height: 12px;
            width: 12px;
            margin-right: 4px;
            margin-bottom: 2px;
        }
    }

    .chart-small {
        h3 {
            margin-top: 5px;
            margin-bottom: 30px;
        }
    }
}

.container-lines {
    margin-top: 20px;
    @media (min-width: $screen-sm-min) {
        border-top: 1px solid #c2c2c2;
    }
}

.col-lines {
    padding-top: 20px;
    padding-bottom: 5rem;
}

.col-lines:not(:last-child) {
    @media (min-width: $screen-sm-min) {
        border-right: 1px solid #c2c2c2;
    }
}
