#numbers {
    background-color: $color-numbers-background;
    padding-bottom: 0;

    .chart-large {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 750px;
        min-height: 300px;
        display: block;

        canvas, svg {
            min-width: 750px;
            height: 300px;
        }

        .legend-side {
            display: inline-block;

            svg {
                width: 100px;
            }

            text {
                font-size: 12px;
                fill: #666;
            }

            rect {
                fill: $color-primary;
            }
        }
    }

    .chart-small {
        h3 {
            margin-top: 5px;
            margin-bottom: 30px;
        }
    }

    .x path, .axis line {
        fill: none;
        stroke: black;
        stroke-width: 2px;
        opacity: 0.7;
    }

    .y path {
        opacity: 0;
    }

    .tick text {
        font-size: 12px;
        fill: #666;
    }

    .y > .tick line {
        opacity: .08;
        stroke-width: 1px;
    }

    .y > .tick text {
        opacity: .4;
    }

    .x > .tick line {
        opacity: 0;
    }

    .legend-item {
        line-height: 18px;
        display: inline-block;
        margin: 0 1rem;

        .legend-box {
            display: inline-block;
            vertical-align: middle;
            height: 12px;
            width: 12px;
            margin-right: 4px;
            margin-bottom: 2px;
        }
    }
}

.container-lines {
    margin-top: 20px;
    @media (min-width: $screen-sm-min) {
        border-top: 1px solid #c2c2c2;
    }
}

.col-lines {
    padding-top: 20px;
    padding-bottom: 5rem;
}

.col-lines:not(:last-child) {
    @media (min-width: $screen-sm-min) {
        border-right: 1px solid #c2c2c2;
    }
}
