<div class="splash-loader" ng-hide="cpc.dataLoaded">
    <div class="splash-loader-helper">
        <div class="loader"></div>
    </div>
</div>

<section id="introduction" class="introduction" ng-if="cpc.dataLoaded">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 header">
                <h1>How will it feel in {{ ::cpc.city.properties.name }}?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Places we know are changing with the climate.</h4>
            </div>
        </div>
    </div>

    <cc-city-map class="city-map"
                 cities="cpc.cities"
                 city="cpc.city"
                 feels-like="cpc.feelsLike">
    </cc-city-map>

    <div class="container">
        <div class="col-sm-12">
            <tweet-button class="pull-left"
              city-name="cpc.city.properties.name"
              city-id="cpc.city.properties.cartodb_id" >
            </tweet-button>
            <cc-city-switcher cities="cpc.cities"></cc-city-switcher>
        </div>
    </div>

</section>

<section id="numbers" ng-if="cpc.dataLoaded">
    <div class="container">
        <div class="row charts-header">
            <div class="col-md-12">
                <h2 class="heading-label">Based on IPCC Model Projections</h2>
                <p>We compared over 500 current and future city forecasts. Here are the forecasts for {{ ::cpc.city.properties.name }}.</p>

                <div class="chart-large">
                    <p class="h2">Monthly Temperatures</p>
                    <svg cc-chart-monthly-temp
                        data="cpc.indicators"
                        scenario="rcp45"
                        units="F">
                    </svg>
                    <div class="legend-bottom" cc-chart-legend
                        label="Average Monthly Temperature (&deg;C):"
                        data="cpc.indicators.rcp45.monthly_max_temp"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="chart-large">
                    <p class="h2">Monthly Precipitation</p>
                    <canvas cc-chart-monthly
                            type="bar"
                            data="cpc.indicators"
                            options="cpc.precipChartConfig">
                    </canvas>
                    <div class="legend-bottom" cc-chart-legend
                        label="Total Monthly Precipitation (inches):"
                        data="cpc.indicators.rcp45.monthly_max_temp"></div>
                </div>
            </div>
            <div class="col-md-4 col-lines">
                <div class="chart-small"
                    cc-yearly-indicator
                    data="cpc.indicators"
                    scenario="rcp45"
                    indicator="yearly_consecutive_dry_days"
                    label="Yearly Consecutive Dry Days">
                </div>
                <div class="chart-small"
                    cc-yearly-indicator
                    data="cpc.indicators"
                    scenario="rcp45"
                    indicator="yearly_dry_periods"
                    label="Yearly Dry Periods">
                </div>
                <div class="chart-small"
                    cc-yearly-indicator data="cpc.indicators"
                    scenario="rcp45"
                    indicator="yearly_frost_days"
                    label="Yearly Frost Days">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" ng-if="cpc.dataLoaded">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading-label">Use Our Data</h2>
                <p class="h2">Azavea is building tools to help communities prepare and adapt.</p>
                <p>Tell the story of climate change in your region with key metrics from model data. The raw data we process is over thirteen terabytes large. It is difficult to extract and expensive to store. We use our high-speed, distributed geoprocessing platform to translate scientific data into straightforward information. </p>

                <p>Long term planning decisions require understanding the effects of climate change. Successful investments account for change and uncertainty. Azavea is providing insight into how to plan for climate risks and impacts.</p>
            </div>
        </div>
        <div class="examples">
            <div class="row">
                <cc-our-data config="card" ng-repeat="card in cpc.ourdata"></cc-our-data>
            </div>
        </div>
    </div>
    <div class="cta">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="h2">Model Data</p>

                    <p>On this page, we are using the NASA Earth Exchange Global Daily Downscaled Projections (NEX-GDDP). The data are available at: <a href="https://cds.nccs.nasa.gov/nex-gddp/">https://cds.nccs.nasa.gov/nex-gddp/</a></p>

                    <p>We constructed the visualizations and similarity calculations using a subset of the data. It uses the RCP-8.5 emission scenario for 2010, 2050, and 2099, and an average of four models.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="h2">Work With Us</p>

                    <p>We are currently focused on building an API-based solution for dynamic processing of the model output data. The shape of the final product is still undetermined. If you can think of a way to use this service in your application, reach out and let's work together to build it.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="h2 no-bold no-margin-top">Ready to integrate climate change data into your app?</p>
                </div>
                <div class="col-sm-6"><button>Contact Us</button></div>
            </div>
        </div>
    </div>
    <!-- TODO: Move geoip attribution to the "about" page when we have one -->
    <div class="container attribution">
        <div class="col-xs-12">
            <p class="pull-right">This product includes GeoLite2 data created by MaxMind, available from <a href="http://www.maxmind.com">http://www.maxmind.com</a>.</p>
        </div>
</section>
